* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.loading-bar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  transform-origin: top left;
  width: 90%;
  height: 2rem;
  background: #ffffff;
  transition: transform 0.2s ease-in-out;
  will-change: transform;
}

.loading-bar.ended {
  transform-origin: top right;
  transition: transform 2s ease-in-out;
}
